PROJECT=novanews

# DOCKER
COMPOSE_PROJECT_NAME=${PROJECT}
COMPOSE_PATH_SEPARATOR=;
COMPOSE_FILE=containers/orchestrator.yml;containers/api.yml;containers/frontend.yml;containers/database.yml;containers/database_administration.yml;containers/redis.yml

# GLOBAL
DOMAIN=${PROJECT}.localhost

APP_NAME=novanews
APP_ENV=local
APP_KEY=base64:vGD7tf9P9NBLJ77/QZXP4Y8qqMhC88K8wWce8WGjqHY=
APP_DEBUG=true
APP_URL=http://api.${PROJECT}.localhost 

APP_LOCALE=en
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=en_US

APP_MAINTENANCE_DRIVER=file
# APP_MAINTENANCE_STORE=database

BCRYPT_ROUNDS=12

LOG_CHANNEL=stack
LOG_STACK=single
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=mysql
DB_PORT=3306
DB_DATABASE=api
DB_USERNAME=root
DB_PASSWORD=root
DATABASE_ROOT_PASSWORD=root

# Use cookie-based session for SPA
SESSION_DRIVER=redis
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=.novanews.localhost  

BROADCAST_CONNECTION=log
FILESYSTEM_DISK=local
QUEUE_CONNECTION=redis
CACHE_STORE=redis

MEMCACHED_HOST=127.0.0.1

REDIS_CLIENT=phpredis
REDIS_HOST=redis
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=log
MAIL_SCHEME=null
MAIL_HOST=127.0.0.1
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_FROM_ADDRESS="hello@example.com"
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

# FRONTEND SETTINGS
FRONTEND_URL=http://novanews.localhost  
SANCTUM_STATEFUL_DOMAINS=novanews.localhost

VITE_APP_NAME="${APP_NAME}"

DOCKER_TARGET=dev
MODE=development
INTERNAL_PORT=5173 

# News APIs
NEWS_API_URL=https://newsapi.org/v2/everything
NEWS_API_KEY=11b4100671a147e2b16a61c24b7bed05

NYT_API_URL=https://api.nytimes.com/svc/news/v3/content/all/all.json
NYT_API_KEY="Ka48iPGLALXiSG7qE4QrC0Kkpz6cR9phcnfYk0JCLiTMMWW9"

GUARDIAN_API_URL=https://content.guardianapis.com/search
GUARDIAN_API_KEY="d5e7f4c3-60d1-4af5-8c56-0390c00650a2"